<div class="logo-container">
  <a id="logo" class="navbar-brand" href="https://www.ohsu.edu/xd/" data-no-turbolink="true"></a>
  <div class="nav-department">
    <a href="<%= hyrax.root_path %>">
      <span class="institution_name">Scholar Archive</span>
    </a>
  </div>
</div>
